.background {
  background: linear-gradient(
    140deg,
    rgba(56, 55, 121, 1) 0%,
    rgba(139, 156, 221, 1) 31%,
    rgba(188, 192, 200, 1) 49%,
    rgba(144, 157, 217, 1) 63%,
    rgba(16, 3, 36, 1) 100%
  );
  height: 100vh;
  width: 100vw;
}
